<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 Sample</title>
        <meta name="description" content="HTML5 Sample Page">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="container">
            <h1> The icons library </h1>
            <h5> Find and copy-paste icon names to reuse in your project </h5>
            <div class="row">
                {%REPLACE_ME%}
            </div>
            <script src="scripts.js"></script>
        </div>
    </body>
</html>
